# Created by https://www.gitignore.io/api/swift

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
.DerivedData-iOS/
.DerivedData-macOS/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
# Package.resolved

.~/
*.old
coverage_iOS.txt
percentage_iOS.txt
WD
WD.xcresult
.DS_Store
coverage_iOS/
coverage_macOS/
.dependencies/
.workspace/
SoundFontsPlus/SF2ResourceFiles/Resources/FluidR3_GM.sf2

Features/Package.resolved
SoundFontsPlus.xcworkspace/xcshareddata/swiftpm/Package.resolved