.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
# .swiftpm/xcode
.derivedData/
.DerivedData-iOS/
.DerivedData-macOS/
coverage_iOS/
coverage_macOS/
.dependencies/
.workspace/
WD/
SoundFontsPlus/SF2ResourceFiles/Resources/FluidR3_GM.sf2
Features/.switpm/xcode/xcuserdata/**
