// Copyright © 2025 Brad Howes. All rights reserved.

#include "Common.xcconfig"

/// Always show the tutorial screen at start
ALWAYS_SHOW_TUTORIAL = -DALWAYS_SHOW_TUTORIAL

/// Always show the changes screen at start (only if ALWAYS_SHOW_TUTORIAL is undefined)
ALWAYS_SHOW_CHANGES = -DALWAYS_SHOW_CHANGES

/// All of the flags above. To disable one, just prepend an 'x' to its name.
DEBUG_FLAGS = $(inherited) $(xALWAYS_SHOW_TUTORIAL)
DEBUG_FLAGS = $(inherited) $(xALWAYS_SHOW_CHANGES)

/// Suffix to apply to builds
NAME_SUFFIX = Dev

OTHER_SWIFT_FLAGS = $(inherited) -DDev $(DEBUG_FLAGS) -DDEBUG
